body {
  background: #f4f7f5;
  color: #333;
}

/* HERO */
.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.btn {
  background: #4caf50;
  padding: 12px 25px;
  border-radius: 8px;
  transition: 0.3s;
}

.btn:hover {
  background: #388e3c;
  transform: scale(1.05);
}

/* CARDS */
.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-8px);
}

/* INPUT */
input, textarea {
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* RESULTADO */
.resultado {
  margin-top: 15px;
  font-weight: bold;
  font-size: 18px;
}
